name: Main
on: [ push, pull_request ]

jobs:
  test:
    strategy:
      matrix:
        os: [ ubuntu-latest, macos-latest ]

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Bazel Test
        shell: bash
        run: |
          bazel test --verbose_failures --test_output=streamed --keep_going //...

      - name: Load and Inspect Manifest
        shell: bash
        run: |
          bazel run //:hello_world_tarball
          docker inspect bazel/hello_world:latest
